.alert {
    padding: 20px;
    background-color: rgb(245, 172, 90);
    color: white;
    margin: 40px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 0px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}