.app {
  padding-top: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  }

.search {
  order: 0;
  flex: 0 1 12.5%;
  align-self: stretch;
  }

.display {
  order: 1;
  flex: 2 1 62.5%;
  align-self: stretch;
  }

.footer {
  order: 2;
  flex: 2 1 12.5%;
  align-self: stretch;
  }


